# 01-kill
This notebook presents how to eliminate the diagnosed outliers.

Some inital imports:

In [2]:
import pandas as pd
import numpy as np
% matplotlib inline
from matplotlib import pyplot as plt

# Load the dataset that will be used

In [3]:
data = pd.read_csv('../../data/all_data.csv', index_col=0)
print('Our dataset has %d columns (features) and %d rows (people).' % (data.shape[1], data.shape[0]))
data.head(15)

Our dataset has 3 columns (features) and 200 rows (people).

             age  height  gender
CFLOXRHMDR  88.0   163.0  female
FXLJSNLSOG  29.0   158.0  female
FWDIVJKGOI  42.0   159.0  female
YWEBKQWHRE  25.0   179.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
SSZQEGTLNK   NaN   162.0    male
PRFEFXNGWN  36.0   166.0  female
IIVXDNOAIV   1.0   165.0  female
VVQYVNRAGQ  18.0   134.0  female
YVEDWPTEEB  31.0   149.0  female
LGPQPJXWPI  34.0   172.0  female
VURXKXJUTM  22.0   174.0  female

# Dealing with found issues
Time to deal with the issues previously found.