# Diagnosing the data issues:

In [1]:
import pandas as pd 
import numpy as np 
% matplotlib inline
from codefiles.class2 import get_data

# The data you'll be exloring:

In [2]:
data = get_data()

In [3]:
data.head(10)

             age  height  gender
CFLOXRHMDR  88.0   163.0  female
FXLJSNLSOG  29.0   158.0  female
FWDIVJKGOI  42.0   159.0  female
YWEBKQWHRE  25.0   179.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
YPUQAPSOYJ  32.0   169.0    male
SSZQEGTLNK   NaN   162.0    male
PRFEFXNGWN  36.0   166.0  female

## Duplicated data:

We seem to have a problem with some duplicated data:

In [ ]:
print('Before duplicates {}'.format(data.shape))
data = data.drop_duplicates()
print('After duplicates {}'.format(data.shape))

In [ ]:
data.head(10)

## Missing data:

In [ ]:
heights = data['height']
ages = data['age']
gender = data['gender']

##### How much missing data do we have for heights?

In [ ]:
missing_height = heights.isnull()

In [ ]:
missing_height.head()

In [ ]:
missing_height.sum()

In [ ]:
data[missing_height]

##### How about age?

In [ ]:
missing_ages = ages.isnull()

In [ ]:
data[missing_ages]

##### And gender?

In [ ]:
gender.value_counts(dropna=False)

In [ ]:
missing_gender = data['gender'].isnull()
data[missing_gender]

But wait, we have another problem. We seem to have `male` and `MALE`:

In [ ]:
gender.value_counts(dropna=False).plot(kind='bar', rot=0)